.ProductDetail {
    width: 650px;
    padding-bottom: 24px;
    background-color: #ffffff;
    border: 1px solid #C7C7C7;
    animation: swipeLeft 0.26s ease;
}

.ProductDetail-close {
    background: white;
    position: absolute;
    right: 20%;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}

.ProductDetail-close:hover {
    cursor: pointer;
    
}
.ProductDetail-close img:hover {
    filter: invert(100%) sepia(95%) saturate(404%) hue-rotate(77deg) brightness(94%) contrast(100%);
    cursor: pointer;
}

.ProductDetail>img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.btn-cantidad {
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.container-modal {
        position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
}

@keyframes swipeLeft {
    0% {
        width: 0;
    }

    100% {
        width: 360px;
    }
}

@media (max-width: 640px) {
    .ProductDetail {
        width: 100%;
    }

    .MyOrder {
        width: 100%;
    }

    @keyframes swipeLeft {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
}