* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {
  display: flex;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  flex-flow: column;
}
html, body {
  width: 100%;
  overflow-x: hidden; 
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper, .container, .main-container {
  max-width: 100%;
}
